{% extends "core/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-white">💬 Comentar en: <span class="text-info">{{ tema.titulo }}</span></h2>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.contenido.label_tag }}
            {{ form.contenido }}
        </div>
        <button type="submit" class="btn btn-success">Publicar comentario</button>
        <a href="{% url 'temas_por_seccion' tema.seccion.id %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}